<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Artifactory" value="http://localhost:8081/artifactory/api/nuget/testing-nuget-local/debug" />
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
      <add key="Username" value="admin" />
      <add key="Password" value="CNpBHX9XTWzmy1TlIagpgz4yU/SPE+zE9ollaSPMYm4+F7+ALyg3WfhM+9a8NQQkLpkC48WXCeScquY1ZelO1nkGN6dkCQqCTLc9Bv+zujoctb9RerIU3sarz6ePNkopDSs3F7OiUGEDbskJ82ox5qRc2GrV/bthqLSr6Uwf+2eXQXhu4WKkrE3tGImQx6Vz1hr6MShy9bt4+yuJok5lcnF9fFPq9+f143mc0trri4VnUQEBADIYKjxZk1Fa2GcNGG87zG0a2GjT5ionjoWAqg==" />
    </Artifactory>
  </packageSourceCredentials>
</configuration>
